@import '../../styles/variables';

.root {
  /* autoprefixer: off */
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  /* autoprefixer: on */

  @media (--small) {
    /* autoprefixer: off */
    grid-row: 2 / 3;
    grid-column: 5 / 13;
    /* autoprefixer: on */
  }
}
