@import '../../styles/variables';

.root {
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  width: calc(100% - 3rem);
  max-width: 70rem;
  border: 1px solid color(var(--primary-color) lightness(80%));
  border-radius: 5px;
  box-shadow: 0 3px 5px 1px color(var(--primary-color) lightness(90%));
}
