@import './variables';

.ais-SearchBox__input {
  padding: 0 0.2em;
  height: 2rem;
  border: 1px solid (var(--primary-color) lightness(20%));
}

.ais-SearchBox__submit,
.ais-SearchBox__reset {
  display: none;
}

.ais-RefinementList__items {
  margin-top: 1rem;
}

.ais-RefinementList__item + .ais-RefinementList__item {
  margin-top: 0.5em;
}

.ais-RefinementList__itemLabel {
  margin-left: 0.5em;
}

.ais-Hits__root {
  & article {
    padding: 1.5rem;

    & + article {
      border-top: 1px solid color(var(--primary-color) lightness(80%));
    }
  }

  & h2 {
    margin-top: 0;
  }

  & a {
    color: var(--link-color);
  }
}

.ais-Pagination__root {
  margin: 0;
  padding: 1.5rem 0;
  list-style: none;
  text-align: center;
  border-top: 1px solid color(var(--primary-color) lightness(80%));

  & li:first-child {
    border-radius: 5px 0 0 5px;
  }

  & li:last-child {
    border-radius: 0 5px 5px 0;
  }
}

.ais-Pagination__item {
  display: inline-block;
  border: 1px solid color(var(--primary-color) lightness(80%));

  & + .ais-Pagination__item {
    border-left: none;
  }

  & a {
    color: var(--link-color);
  }
}

.ais-Pagination__itemLink {
  padding: 0.3rem 0.5rem;
  display: block;
  text-decoration: none;
}

.ais-Pagination__itemSelected {
  background-color: color(var(--primary-color) lightness(80%));
}
