@import '../../styles/variables';

.root {
  padding: 1.5rem;
  color: #fff;
  background-color: var(--primary-color);
}

.nav {
  display: flex;
  align-items: center;
}

.navLogo {
  flex-grow: 1;
}

.navLink {
  color: #fff;
  font-size: .9rem;
  letter-spacing: .05em;
  text-decoration: none;
  text-transform: uppercase;

  & + .navLink {
    margin-left: 1rem;
  }
}

.navSeparator {
  margin-right: 1rem;
  margin-left: 1rem;
}
