@import '../../styles/variables';

.root {
  padding: 1.5rem;
  color: #fff;
  background-color: var(--primary-color);
}

.nav {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.navLogo {
  flex-grow: 1;
}

.navLink {
  color: #fff;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;

  & + .navLink {
    margin-left: 1rem;
  }
}

.navButton {
  background: none;
  border: none;
  appearance: none;
  font: inherit;
  cursor: pointer;
}

.navSeparator {
  position: relative;
  top: -0.1em;
  margin-right: 1rem;
  margin-left: 1rem;
}
