@import '../../styles/variables';

.root {
  padding: 1.5rem;
  /* autoprefixer: off */
  grid-row: 1 / 2;
  grid-column: 1 / 13;
  /* autoprefixer: on */
  border-bottom: 1px solid color(var(--primary-color) lightness(80%));
}
